h1{
    text-align: center;
    
}
h2{
    text-align: center;
    font-size: 50px;
    padding: 100px 0 400px ;
    font-weight: bold;

}
body{
   background-color: aqua;
   background-image: url('https://i.pinimg.com/originals/75/98/71/759871bc3cd242ae9c0bfd1fd058bdb0.gif');
   height: 100;
   width: 100;
   background-size: 1200px 700px;
   background-repeat: no-repeat;
}
