<div class="parent-container">
  <div class="child-container">
    <h2><b>Search for your favorite food!!!
    </b></h2><br>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
          <input #recipe class="form-control" placeholder="Recipe name" type="text">
          <span class="input-group-addon">-</span>
          <input #place class="form-control" placeholder="Place" type="text">
          <span class="input-group-addon">-</span>
        </div>
        <br>
        <button (click)="getVenues()" class="btn btn primary col-lg-2 col-lg-offset-5 desc" type="button">Find</button>
      </div>
    </form>
  </div>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>Here's some recipes!</b></div>
        <div class="panel-body">
          <div *ngFor="let recipe of recipeList" class="list-group-item clearfix">
            <div class="detail">
              <img src="{{recipe.image}}" class="image mt" />
              <div class="header">
              <h4 class="list-group-item-heading mt">{{ recipe.label }}</h4>
              <a href="{{recipe.url}}" class="list-group-item-text">{{ recipe.url }}</a>
              <p class ="list-group-item-heading"><strong> Calories: </strong>{{recipe.calories | number: '1.2-2' }}<strong> kcal</strong></p>
              </div>
            </div>
            <ul class="ingredients-list">
              <h4>Ingredients: </h4>
              <li *ngFor="let ingredientLine of recipe.ingredientLines">{{ingredientLine}}</li>
            </ul>
            <span class="pull-right">
           </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>Check out these places!</b></div>
        <div class="panel-body">
            <!-- Angular for loop to loop through list of all restaraunts -->
          <div *ngFor="let venue of venueList" class="list-group-item clearfix">
            <div class="pull-left">
              <!-- Get the venue name and sub name -->
              <h4 class="list-group-item-heading">{{ venue.name }}</h4>
              <h6 class="list-group-item-heading">{{ venue.category}} </h6>
            </div>
            <span class="pull-right">
              <!-- Get the venue location -->
             <a href="http://maps.google.com/maps?saddr={{currentLat}},{{currentLong}}
             &daddr={{venue.location.address}},{{venue.location.locality}},{{venue.location.region}}">
               <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



